
.fl_lf{
  float:left;
}
.x-button .x-text-el{
  text-transform:none;
}
.x-dock{
  overflow: inherit;
}
.x-container{
  overflow: inherit;
  .x-container-body-el{
    overflow: inherit;
  }
}
.x-field.disable_text{
  border-bottom: 1px solid #bdb7b7;
  padding-top:0;
  padding-bottom:0;
  .x-label-el{
    color:black;
    opacity: 1;
  }
  .x-underline-el{
    height: 0;
    background-color:#fff;
  }
  &.x-disabled .x-input-wrap-el{
    color:#236a9c;
  }
  &:not(.x-field-solo).x-layout-auto-item{
    padding-top:5px;
    margin-top:0;
    padding-bottom:0;
  }
  &:not(.x-field-solo).x-layout-vbox-item{
    padding-top:5px;
    margin-top:0;
    padding-bottom:0;
  }
}

.auto_width.x-field > .x-label-el{
  width:auto;
}
.black_label.x-field{
  .x-label-el{
    color:black;
  }
  &.x-checkboxfield{
    .x-box-label-el{
      color:black;
    }
  }
}



.phone_root_container{
  & > div{
    overflow-x: hidden;
    position: relative;
    height:100%;
  }
  .sidebar_container{
    position: absolute;
    height:100%;
    left:-300px;
    top:0;
    transition: left 0.5s;
    background-color: #fff;
    &.active{
      left:0;
      transition: left 0.5s;
    }
  }
  .cnt_container{
    position: absolute;
    height:100%;
    left:0;
    top:0;
    z-index: 96;
    transition: left 0.5s;
    &.folded{
      left:300px;
      transition: left 0.5s;
    }
    .main_content{
      width: 100%;
      min-height: 100px;
      position: relative;
      .page_content{
        width: 100%;
        // overflow-y: scroll;
        margin-top:45px;
      }
    }
  }
  .mask{
    z-index: 109;
    width:100%;
    height:100%;
    position: absolute;
    display: none;
    opacity: 0;
    background-color: #464444;
    &.active{
      display:block;
      opacity: 0.5;
      transition: opacity 0.3s;
    }
  }
}

.titlebar-mobile{
  &.x-titlebar{
    background-color:#fff;
  }
  .x-titlebar-body-el{
    min-height: 45px;
    color:#2a588c;
    border-bottom:3px solid #2a588c;
    .x-innerhtml{
      color:#2a588c;
    }
  }
}

.icon_big.x-button .x-icon-el:before{
  font-size:24px;
}
.list_container{
  .x-body-el{
    .x-inner-el.x-listitem-inner-el{
      border-bottom: 1px solid #bfbbbb;
      .x-innerhtml{
        border:0;
          width: 100%;
      }
    }
  }
}
.header-popups-mask{
  position:fixed;
  z-index: 100;
  top:0;
  left:0;
  background-color:#757373;
  opacity:0.4;
  width:100%;
  height: 100%;
  display: none;
  &.active{
    display: block;
    transition: display 0.3s;
  }
}
.popup_content{
  position:fixed !important;
  z-index: 101;
  left:0;
  bottom:-300px;
  transition: bottom 0.3s;
  &.active{
    bottom: 0;
    transition: bottom 0.3s;
  }
}
.tabpanel_m{
  .x-tab.x-has-text .x-inner-el{
    padding:10px 4px;
    background-color: #e8e8e8;
    color:#025b80;
  }
  .cnt{
    width:100%;
    .title{
      font-size:20px;
      font-weight:600;
      color:#025b80;
      marginBottom:10px;
      border-bottom:2px dotted #a09b9b;
    }
  }
}
.cnt{
  width:100%;
  .title{
    font-size:20px;
    font-weight:600;
    color:#025b80;
    margin-bottom:10px;
    border-bottom:2px dotted #a09b9b;
  }
}
.tabpanel_bottom_m{
  .x-active-indicator-el{
    top:0;
  }
  .x-toolbar{
    position:fixed;
    bottom:0;left:0;
    width:100%;
  }
}
.work_mode_cnt{
  .setting_zone{
    height:100px;
    border:1px solid #b9b8b8;
    width:98%;
    margin:10px auto;
    padding:10px;
    border-radius:6px;
  }
  .setting_zone.active{
    border:2px solid #4e94af;
    box-shadow:0px 0px 8px 3px #82cad6;
    transition: border 0.5s,box-shadow 0.5s;
  }

}
